{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>
  <div id="action-buttons">
    <a class="button outline big" href="https://github.com/rabbitControl" onclick="_gaq.push(['_trackEvent', 'kube', 'github']);">View on Github</a>
    <p>Contribute to RabbitControl</p>
  </div>
  {{ .Content}}
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
