{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    {{ .Content}}
    <h2>{{.Title}}</h2>
    <p>Control parameters exposed from any application. <a href="/apps">Choose an app</a> to control parameters from your phone, browser or desktop.</p>
  </div>

  <div id="hero">
    <a href="https://www.bigfug.com/software/fugio/" target="_blank"><img src="/logos/fugio.png" alt="Fugio"></a><br><br>
    <a href="https://github.com/rabbitControl/ofxRabbitControl" target="_blank"><img src="/logos/of.png" alt="openFrameworks"></a><br><br>
    <a href="https://vvvv.org/" target="_blank"><img src="/logos/vvvv.png" alt="VVVV-beta"></a><br>
    <!-- <a href="https://github.com/rabbitControl/VL.RCP" target="_blank"><img src="/logos/vvvv-gamma.png" alt="VVVV-gamma"></a><br> -->
  </div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
